{% extends "app_guarderia/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card card-custom shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">{{ page_title }}</h5>
            <div>
                <a href="{% url 'actividad_guarderia_update' object.pk %}" class="btn btn-primary btn-sm">
                    <i class="fas fa-edit me-1"></i> Editar
                </a>
                <a href="{% url 'actividad_guarderia_delete' object.pk %}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt me-1"></i> Eliminar
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Grupo:</strong> {{ object.id_grupo }}</p>
                    <p><strong>Nombre de la Actividad:</strong> {{ object.nombre_actividad }}</p>
                    <p><strong>Fecha y Hora:</strong> {{ object.fecha_hora }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <a href="{% url 'actividad_guarderia_list' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left me-1"></i> Volver a la Lista
            </a>
        </div>
    </div>
</div>
{% endblock %}
